.ExplorerSlide-Main-Container {
    display: flex;
    flex-wrap: wrap;
    
    align-items: center;
    gap:116px 40px;
    justify-content: space-between;
    /* padding-bottom: 5px;s */
   
   
}
.ExploreSlider-image-Container{
    width: 200px;
    height: 200px;
    background-size: cover;
    /* padding: 20px 0px; */
    
    border: opx solid black;
    /* gap: 40px; */
    
}
.ExploreSlider-image-Container p{
    padding:0px;
    margin: 0px;
}