.ExplorerSlide-Main-Container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* text-align: center; */
    align-items: center;
    gap:40px 21px;
    /* justify-content: center; */
    padding: 35px;
    /* padding-bottom: 5px;s */
background-color:rgb(19, 24, 24);
   
}
.ExplorerSlide-Main-Container {
    color: azure;
}
.ExploreSlider-image-Container{
    width: 200px;
    height: 200px;
    /* background-size: cover; */
    /* padding: 20px 0px; */
    
    border: opx solid black;
    text-decoration: none                       ;
    /* gap: 40px; */
    
}
.ExploreSlider-image-Container p{
    padding:0px;
    margin: 0px;
}
.ExploreSlider-image-Description-Container{
    width: 200px;
    height: 300px;
    /* text-align: center; */
}
.Explore-button-container{
    /* justify-content: center; */
    text-align: center;
    /* align-items: center; */
    /* margin: 0px auto; */
    /* background-color: rgb(49, 49, 248); */
}