
.Carsousel-Image-Container {
    /* width: fit-content; */
    /* width: 20px; */
    height: 400px;
    flex-shrink: 2;
}
#Carsousel-2{
    /* background-image:url("../../Dummy/Photos/Explorer/Explore2.jpg"); */
    font-size: smaller;
    background-size: cover;
}